[Unit]
Description=Better fan control for HP ProBook 440 G3

[Service]
ExecStart=/usr/bin/fanslow
ExecStopPost=/usr/bin/probook_ec FANRST

[Install]
WantedBy=multi-user.target
